
"""
M3 - WEEK 5 | PROJECT: Make your data shine!

    Due 6 Mar by 21:59 

Many datasets you have seen so far were nice and clean, and ready to be analysed. 
But, that's not the case in the real world where data is often messy - with lots of information missing, 
wrong data types, etc. Before you can start working on that kind of dataset, you need to make it tidy.

In this module project your task is to pick a dataset from the link below and do the following:

    load it to Python using an appropriate library (pandas, sqllite3, etc.)
    understand the issues (take a look at the issues section for each dataset on the given URL)
    clean the data (take care of outliers, missing values, data types, etc.)
    provide explanations for all steps you took while cleaning the data
    explore and visualize your data

You'll be working in groups of two in this project  
Please go ahead with forming your own groups, and remember that each of you in the group needs to submit it. 
And remember to write the group members on your project when submitting it.

Group formation sheet is available here. (Links to an external site.)Links to an external site.

Submit your work as a Jupyter Notebook with all the code and narrative. 

URL for the data sets: https://makingnoiseandhearingthings.com/2018/04/19/datasets-for-data-cleaning-practice/ 
(Links to an external site.)Links to an external site.

 
As part of this project, you are also expected to submit the following:

1- Self-evaluation 

2- Peer evaluation 

To be able to do the peer-evaluation you must first submit your project on Canvas.

"""

### Dataset chosen: <br> <br> From: https://www.scq.ubc.ca/so-much-candy-data-seriously/

# CANDY (CRUSH) TIME

In [1]:
# dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# MERGER COMMAND just in case
%matplotlib inline

In [3]:
# use the read_csv() function to read in the dataset from a file 
# then store it in a DataFrame
# File presented some encoding issues that needed to be sorted at loading stage
candy17_df = pd.read_csv("candyhierarchy2017.csv", encoding="latin-1") #read file into DF

In [4]:
# Checking loaded df
candy17_df.head(3)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Suggested columns to drop: Q10 & Q12 for sure 
### Q7 - Q8 - Q9 we can drop them now and maybe if we have time we can do something with them

In [ ]:
# JUST SOME CODE FOR (MAYBE) LATER 

# ri_df.drop("county_name", axis="columns", inplace=True)
# ri_df.dropna(subset=["stop_date", "stop_time"], inplace=True)
# ri_df["is_arrested"] = ri_df["is_arrested"].astype("bool")
# ri_df["stop_date"].str.replace('/', '-')
# combo_datetime = ri_df["stop_date"].str.cat(ri_df["stop_time"], sep=' ')
# ri_df["combo_datetime"] = pd.to_datetime(combo_datetime)
# ri_df.set_index("combo_datetime", inplace=True)
# ## ADDITIONAL - not in course; to make row value_counts() for stop_outcome same as shape
# ri_df.dropna(subset=["stop_outcome"], inplace=True)
# #  ADDITIONAL - not in course; drop search_type column with 83232 missing values
# # ri_df.drop("search_type", axis="columns", inplace=True)
# # ri_df.info()